.main-header {
  background: #fff;
  height: 50px;
  width: 100%;
}

.main-header a {
  text-decoration: none;
  color: #000;
}

.main-header a:hover {
  text-decoration: none;
  color: #000;
}

.main-header .header-content {
  border-bottom: 1px solid #ddd;
  min-width: 100%;
  min-width: 100%;
  background: #fff;
  margin: 0 auto;
  height: 50px;
  padding-left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.user-content span {
  margin-right: 10px;
}

.user-content .dropitem {
  width: 20px !important;
}

.user-content .circle {
  border-radius: 50%;
  border-color: #ebecee;
  border-style: solid;
  border-width: 1px;
  background-color: #fcf2fd;
}

.user-content .circle path {
  stroke: #4b7efe;
}

@media only screen and (max-width: 500px) {
  .user-content {
    margin-right: 10px;
  }
  .user-content span {
    font-size: 0.8em;
    margin-right: 2px;
  }
  .header-content svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .user-content svg {
    width: 20px;
    height: 20px;
  }
}
