.main-header {
  background: #fff;
  height: 50px;
  width: 100%;
}
.main-header .header-content {
  border-bottom: 1px solid #ddd;
  min-width: 100%;
  min-width: 100%;
  background: #fff;
  margin: 0 auto;
  height: 50px;
  padding-left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-content {
  display: flex;
  align-items: center;
  width: 10%;
  min-width: 150px;
  margin-right: 0;
}

.user-content span {
  margin-right: 20px;
}

.user-content .circle {
  border-radius: 50%;
  border-color: #ebecee;
  border-style: solid;
  border-width: 1px;
  background-color: #fcf2fd;
}

.user-content .circle path {
  stroke: #4b7efe;
}
