.sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  width: 20%;
  box-shadow: 5px 0px 15px #e9eaee;
  overflow-y: scroll;
  z-index: 1;
}

.hide {
  margin-left: -250px;
  box-shadow: none;
}

.sidebar .header {
  height: 50px;
  font-size: 2em;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.sidebar .header .header-content {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: none;
}

.header hr {
  margin-top: 5%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  background-color: white;
  font-size: 1.2em;
  padding: 1%;
  color: #1e1e1e;
}

.item span:hover {
  text-decoration: none;
}
.item:hover {
  background-color: #4b7efe;
  color: white;
}

.item:hover .menu-logo path {
  stroke: white;
}

.subItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  background-color: white;
  font-size: 1.2em;
  padding: 1%;
  color: #1e1e1e;
  text-decoration: none;
}

.subItem:hover {
  background-color: #4b7efe;
  color: white;
  text-decoration: none;
}

.subItem span {
  padding: 1%;
  margin-left: 15%;
}

.subItemL2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  background-color: white;
  font-size: 1.1em;
  padding: 1%;
  color: #1e1e1e;
}

.subItemL2:hover {
  background-color: #4b7efe;
  color: white;
  text-decoration: none;
}

.subItemL2 span {
  padding: 1%;
  margin-left: 19%;
}

.itemcollapsed {
  border-style: solid;
  border-width: 1px;
  border-color: #dfdfdf;
  border-left-width: 3px;
  border-left-color: #4b7efe;
  border-right: none;
  color: #4b7efe;
}

.itemcollapsed .menu-logo path {
  stroke: #4b7efe;
}

.itemselected {
  background-color: #4b7efe;
  color: white;
}

.itemselected .menu-logo path {
  stroke: white;
}

.menu-logo {
  margin-right: 5px;
  margin-left: 3%;
  vertical-align: middle;
  justify-self: end;
  pointer-events: none;
}

.menu-logo path {
  stroke: #1e1e1e;
}

.seta-baixo {
  content: "";
  margin-left: auto;
  margin-right: 5%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1e1e1e;
}

.seta-cima {
  content: "";
  margin-left: auto;
  margin-right: 5%;
  width: 0;
  height: 0;
  justify-self: flex-end;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1e1e1e;
}

@media only screen and (max-width: 500px) {
  .sidebar {
    min-width: 200px;
    max-width: 200px;
  }

  .hide {
    margin-left: -200px;
  }
  .sidebar .header {
    font-size: 1.5em;
  }

  .sidebar svg {
    width: 20px;
    height: 20px;
  }
  .item {
    font-size: 1em;
  }
  .subItem {
    font-size: 0.9em;
  }
  .subItemL2 {
    font-size: 0.8em;
  }
}
